#instructions {
    padding: 20px;
    margin-top: 0; 
}

.jumbotron {
    margin-bottom: 0;
}

#chosenNumberDisplay,
#totalScoreDisplay {
    padding: 15px;
    height: 150px;
}

#gameScores{
    padding: 10px;
    color: white;
}

#bigNumber,
#bigScore {
    text-align: center;
    color: white;
}

#bigNumber {
    font-size: 60px;
}

#bigScore {
    font-size: 50px;
    color: black;
    margin-top: 20px;
}

div#crystalsDisplay {
    padding-top: 12px;
    padding-left: 20px;
} 

.crystal {
    background: grey;
    margin: 0 auto;
    border-radius: 50%;
}

.crystal:hover {
    background: black;
}

img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
