#instructions {
    padding: 20px;
    margin-top: 0; 
}

.jumbotron {
    margin-bottom: 0;
}

#chosenNumberDisplay,
#totalScoreDisplay {
    padding: 15px;
    height: 150px;
}

#gameScores{
    padding: 10px;
    color: white;
}

#bigNumber,
#bigScore {
    text-align: center;
    color: white;
}

#bigNumber {
    font-size: 60px;
}

#bigScore {
    font-size: 50px;
    color: black;
    margin-top: 20px;
}

.wrong-number {
    color: red
    
}

div#crystalsDisplay {
    padding-top: 12px;
    padding-left: 20px;
} 

.crystal {
    background: #6B757D;
    margin: 0 auto;
    border-radius: 50%;
}

.crystal:hover {
    background: black;
}

img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


/* ==== KEYFRAME ANIMATIONS ==== */
.wrong-number {
animation-name: wrong;
animation-duration: .5s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes wrong {
from {background-color: black;}
to {background-color: red;}
}

/* Standard syntax */
@keyframes wrong {
from {background-color: black;}
to {background-color: red;}
}
.correct-number {
animation-name: correct;
animation-duration: 1s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes correct {
from {background-color: black;}
to {background-color: green;}
}

/* Standard syntax */
@keyframes correct {
from {background-color: black;}
to {background-color: green;}
}

